.banner{
    width: 100%;
}
.overlay {
    position: relative;
    width: 100%;
    height: 250px; 
    background-color: var(--primary-color);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    transition: height 0.3s ease;
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.5;
}

.overlay::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, blue, 0.2);
    pointer-events: none;
}
.banner-title{
    position:absolute;
    top: 50%;
    left: 0%;
    color:white;
    font-size: 35px;
    transform: translate(0%,-50%);
    font-weight: 400;
    margin-left: 20px;
}
.job-cards-section{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    background-color: #F7F8FA;
}
.job-cards{
    width: 100%;
    max-width: 1300px;
}
.section-heading{
    font-size: 35px;
    font-weight: 400;
    color: var(--primary-color);
    text-align: center;
}
.jobs-card-container{
    padding: 20px 0;
}
.job-card{
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
    padding: 20px;
    margin: 20px;
}
.job-department{
    color: gray;
}
.first-row-section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0;
}
.divider{
    content: "";
    width: 1px;
    height: 15px;
    background-color: black;
    margin: 0 20px;
}
.description-section{
    margin: 10px 0;
}
.view-job-button-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.view-job-button-section button{
    background-color: var(--button-color);
    color: white;
    box-shadow: 0px 0px 4px var(--buttton-color);
    border: none;
    padding: 5px 10px;
    font-size: 16px;
}
.section-title{
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-color);
}
.apply-now-btn-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.apply-now-btn-section button{
    background-color: var(--button-color);
    color: white;
    box-shadow: 0px 0px 4px var(--buttton-color);
    border: none;
    padding: 5px 10px;
    font-size: 16px;
}
p,li{
    text-align: justify;
}



/* Media query for medium screens (e.g., tablets) */
@media (max-width: 768px) {
    .overlay {
        height: 300px;
    }
    .banner-title{
        font-size: 28px;
    }
    .view-job-button-section{
        margin: 20px 0 0 0;
    }
}

/* Media query for small screens (e.g., mobile devices) */
@media (max-width: 480px) {
    .overlay {
        height: 275px;
    }
    .banner-title{
        font-size: 28px;
    }
    .view-job-button-section{
        margin: 20px 0 0 0;
    }
    .divider{
        display: none;
    }
    .location-section{
        margin-top: 8px;
    }
}