<div class="container-fluid p-0">
    <section class="banner">
        <div class="banner-section">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-interval="6000" data-bs-ride="carousel">
                <!-- Set the interval to 6000 ms (6 seconds) -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                        aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
                        aria-label="Slide 6"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6"
                        aria-label="Slide 7"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="products/battery/slider-image/power_protection.jpg"
                            class="d-block w-100 img-responsive" alt="...">
                        <div class="carousel-caption">
                            <div class="content-box">
                                <h5 class="animate__animated animate__slideInDown" style="animation-delay: 0.25s;">
                                    Shield Your Devices with Confidence</h5>
                                <p class="d-none d-md-block animate__animated animate__slideInRight">Protect your
                                    critical equipment from unexpected power
                                    interruptions and surges with our
                                    advanced lithium UPS solutions designed for maximum reliability.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="products/battery/slider-image/rapid_charging.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption">
                            <div class="content-box">
                                <h5 class="animate__animated animate__slideInDown" style="animation-delay: 0.25s;">Get
                                    Back to Power in No
                                    Time
                                </h5>
                                <p class="d-none d-md-block animate__animated animate__slideInRight">Experience rapid
                                    charging capabilities with our lithium UPS
                                    systems, ensuring your
                                    devices are powered up and ready to go when you need them most.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="products/battery/slider-image/remote_monitoring.jpg"
                            class="d-block w-100 img-responsive" alt="...">
                        <div class="carousel-caption">
                            <div class="content-box">
                                <h5 class="animate__animated animate__slideInDown" style="animation-delay: 0.25s;">Stay
                                    Connected, Stay In Control</h5>
                                <p class="d-none d-md-block animate__animated animate__slideInRight">Monitor and manage
                                    your UPS performance from anywhere with
                                    our
                                    intelligent remote
                                    monitoring system, providing real-time updates and alerts for your peace of mind.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="products/battery/slider-image/EV.jpg" class="d-block w-100 img-responsive" alt="...">
                        <div class="carousel-caption">
                            <div class="content-box">
                                <h5 class="animate__animated animate__slideInDown" style="animation-delay: 0.25s;">
                                    Electric Vehicle Battery</h5>
                                <p class="d-none d-md-block animate__animated animate__slideInRight">Driven by
                                    technological advances! Energy Storage for a
                                    Better World</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="products/battery/slider-image/zero_maintanace.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption">
                            <div class="content-box">
                                <h5 class="animate__animated animate__slideInDown" style="animation-delay: 0.25s;">
                                    Worry-Free Power Solutions</h5>
                                <p class="d-none d-md-block animate__animated animate__slideInRight">Enjoy hassle-free
                                    operation with our zero-maintenance
                                    lithium
                                    UPS systems, engineered for
                                    durability and long-lasting performance without the need for regular upkeep.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="products/battery/slider-image/eco_friendly.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption">
                            <div class="content-box">
                                <h5 class="animate__animated animate__slideInDown" style="animation-delay: 0.25s;">
                                    Sustainable Energy for a Greener Future</h5>
                                <p class="d-none d-md-block animate__animated animate__slideInRight">Our eco-friendly
                                    lithium UPS systems harness renewable
                                    energy,
                                    helping you reduce your
                                    carbon footprint while enjoying reliable power.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <img src="products/battery/slider-image/industrial_applications.jpg"
                            class="d-block w-100 img-responsive" alt="...">
                        <div class="carousel-caption">
                            <div class="content-box">
                                <h5 class="animate__animated animate__slideInDown" style="animation-delay: 0.25s;">
                                    Industrial Applications</h5>
                                <p class="d-none d-md-block animate__animated animate__slideInRight">The next generation
                                    of electric vehicle batteries, with
                                    greater range and improved safety!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>
    <section class="product-name">
        <div class="row">
            <h3 class="product-name m-0 p-0">
                UPS/Inverter battery
            </h3>
        </div>
    </section>
    <section class="about-product">
        <div class="row">
            <div class="product-image col-md-6">
                <div class="image-container">
                    <img src="products/battery/battery.jpeg" alt="UPS" class="img-responsive">
                </div>
            </div>
            <div class="product-about-content col-md-6">
                <h6 class="product-name">About the Product</h6>
                <p class="product-description">UPS/Inverter system supplies conditioned utility power to its outlets and
                    keeps its internal battery charged as long as the electricity is on. It also safeguards your data
                    and valuable gadgets against power issues such as power surges and unexpected voltages. If the power
                    goes out, the UPS/Inverter system provides backup power from its internal battery. This allows your
                    devices to stay on during a power outage, which is especially useful for devices like computers that
                    can lose data when they turn off unexpectedly.</p>
                <p> Your appliances are under constant threat from power problems. Even a brief loss of power or a surge
                    can cause priceless data to be corrupted, ranging from corporate documents to family images. This
                    can be avoided with the use of a UPS. UPS systems are simple to operate. Simply connect the UPS to a
                    wall outlet, connect your equipment to the UPS outlets, and turn the UPS on. Extra functions, such
                    as interacting with a computer or modifying the default settings, are available on most UPS systems,
                    but they are not required.</p>
                <p>The UPS/Inverter battery is the integral component of industrial computers and other usages. During
                    abrupt power outages, it acts as a reliable shield to defend your valuable devices. So to handle the
                    unforeseen condition, our UPS/Inverter battery comes into play with its amplifying redundancy and
                    scalability feature. Recently, it gains momentum due to its enticing concept of answering power
                    protection necessity.</p>
                <p>Here, we support our customers in choosing the right UPS that befits their requisite. As we care for
                    our customers, we sell UPS batteries that are highly efficacious and competent.</p>
            </div>
        </div>
    </section>
    <section class="about-section-card">
        <div class="row cards-container">
            <div class="about-card col-xl-4">
                <div class="card-content">
                    <div class="image-container">
                        <img src="https://eeepvtltd.com/wp-content/uploads/2021/08/develop.jpg" alt="">
                        <img src="" alt="" class="logo">
                    </div>
                    <div class="card-text-section">
                        <h6 class="card-title">Develop</h6>
                        <p class="card-description">We develop custom batteries which meet the needs of a wide range of
                            devices.
                            High safety and capacity are the strength of our batteries. We continue to develop better
                            battery
                            materials and provide efficient manufacturing processes to develop better battery control
                            technology.</p>
                    </div>
                </div>
            </div>
            <div class="about-card col-xl-4">
                <div class="card-content">
                    <div class="image-container">
                        <img src="https://eeepvtltd.com/wp-content/uploads/2021/08/grow.jpg" alt="">
                        <img src="" alt="" class="logo">
                    </div>
                    <div class="card-text-section">
                        <h6 class="card-title">Grow</h6>
                        <p class="card-description">We grow with technology! Our expert engineers can engineer a
                            high-quality custom Li-ion and LiFePO4 battery pack that incorporates all the features that
                            your
                            application requires. </p>
                    </div>
                </div>
            </div>
            <div class="about-card col-xl-4">
                <div class="card-content">
                    <div class="image-container">
                        <img src="https://eeepvtltd.com/wp-content/uploads/2021/08/exceed-1.jpg" alt="">
                        <img src="" alt="" class="logo">
                    </div>
                    <div class="card-text-section">
                        <h6 class="card-title">Exceed</h6>
                        <p class="card-description">We provide in-depth battery application engineering expertise, with
                            quality and product safety. We strive to work with you to develop the best performing
                            battery
                            with our long-standing commitment to customer service, exceeding your expectations.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--<section class="certification-slider">
        <div class="row">
            <div class="col-md-3">
                <img src="products/battery/RoHS-Logo.png" alt="">
            </div>
            <div class="col-md-3">
                <img src="products/battery/45001-2018-certified.png" alt="">
            </div>
            <div class="col-md-3">
                <img src="products/battery/ISO_9001-2015.png" alt="">
            </div>
            <div class="col-md-3">
                <img src="products/battery/iso-14001-2015.png" alt="">
            </div>
        </div>
    </section>-->
    <section class="highlights">
        <div class="row">
            <div class="section-title">
                <h6>Highlights</h6>
            </div>
            <div class="section-content">
                <div class="highlights-container row">
                    <div class="highlight col-lg-3 col-md-4 col-sm-12"
                        *ngFor="let feature of batteryHighlights;let i=index">
                        <div class="highlight-box animate__animated animate__zoomIn"
                            [ngStyle]="{'animation-delay': (i * 0.15) + 's'}">
                            <div class="image-container">
                                <img [src]="feature.svg" alt="" class="highlight-logo">
                            </div>
                            <p class="highlight-name">{{feature.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="features">
        <div class="row">
            <div class="section-title">
                <h6>Features</h6>
            </div>
            <!-- <div class="image-container">
                <img src="products/battery/battery.jpeg" alt="UPS" class="img-responsive"
                    style="width: 100%;height: auto;">
            </div>-->
            <div class="section-content">
                <div class="features-container row">
                    <div class="masonry-item col-lg-3 col-md-4 col-sm-12"
                        *ngFor="let feature of lithiumBatteryFeatures;let i=index">
                        <div class="feature-box d-flex flex-column justify-content-center align-items-center animate__animated animate__zoomIn"
                            [ngStyle]="{'animation-delay': (i * 0.15) + 's'}">
                            <div class="image-container">
                                <img [src]="'products/battery/battery_features/'+feature.img" alt=""
                                    class="img-responsive">
                            </div>
                            <h3 class="feature-title">{{feature.feature}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="user-review">
        <div class="review-section">
            <div id="userReview" class="carousel slide" data-bs-interval="6000" data-bs-ride="carousel">
                <!-- Set the interval to 6000 ms (6 seconds) -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#userReview" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#userReview" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#userReview" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#userReview" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="carousel-caption">
                            <div class="content-box">
                                <svg fill="#00adef" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 98.829 98.829"
                                    xml:space="preserve">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <g>
                                            <g>
                                                <path
                                                    d="M96.76,41.603C91.511,22.831,78.562,9.204,65.975,9.204c-1.011,0-2.021,0.088-3.005,0.262 c-0.558,0.098-1.046,0.426-1.348,0.902c-0.301,0.479-0.386,1.061-0.233,1.605l2.591,9.268c0.25,0.895,1.113,1.5,2.01,1.459 l0.206-0.004c4.668,0,13.199,6.996,17.548,22.545c0.172,0.617,0.335,1.248,0.492,1.906c-4.882-2.416-10.706-2.975-15.98-1.506 C56.358,48.97,49.388,61.356,52.714,73.252c2.696,9.639,11.563,16.373,21.563,16.373c2.037,0,4.071-0.281,6.046-0.834 c7.846-2.193,13.745-8.707,16.611-18.338C99.521,61.764,99.456,51.249,96.76,41.603z">
                                                </path>
                                                <path
                                                    d="M14.088,9.206c-1.009,0-2.02,0.086-3.003,0.26c-0.557,0.096-1.046,0.426-1.347,0.902 c-0.301,0.479-0.386,1.061-0.234,1.605l2.592,9.268c0.25,0.895,1.097,1.5,2.01,1.459l0.204-0.004 c4.668,0,13.2,6.996,17.549,22.545c0.173,0.621,0.336,1.252,0.492,1.906c-4.884-2.416-10.706-2.975-15.98-1.506 C4.475,48.97-2.497,61.356,0.831,73.252c2.696,9.639,11.563,16.373,21.563,16.373c2.037,0,4.071-0.281,6.047-0.834 c7.845-2.193,13.744-8.707,16.611-18.338c2.586-8.689,2.522-19.205-0.175-28.852C39.625,22.831,26.678,9.206,14.088,9.206z">
                                                </path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                                <p>Our collaboration with EEE Energy Private Limited has greatly benefited our clients
                                    in achieving their energy efficiency goals and ensuring reliable power backup
                                    solutions for various applications. The remarkable battery packs and power backup
                                    solutions we have sourced from EEE Energy Private Limited have not only demonstrated
                                    exceptional A performance but have also proven to be highly adaptable to the unique
                                    requirements of our clients.</p>
                                <img src="https://eeepvtltd.com/wp-content/uploads/2021/08/7.jpeg" alt=""
                                    class="company-logo">
                                <h6 class="company-name">RA Energy Tech</h6>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption">
                            <div class="content-box">
                                <svg fill="#00adef" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 98.829 98.829"
                                    xml:space="preserve">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <g>
                                            <g>
                                                <path
                                                    d="M96.76,41.603C91.511,22.831,78.562,9.204,65.975,9.204c-1.011,0-2.021,0.088-3.005,0.262 c-0.558,0.098-1.046,0.426-1.348,0.902c-0.301,0.479-0.386,1.061-0.233,1.605l2.591,9.268c0.25,0.895,1.113,1.5,2.01,1.459 l0.206-0.004c4.668,0,13.199,6.996,17.548,22.545c0.172,0.617,0.335,1.248,0.492,1.906c-4.882-2.416-10.706-2.975-15.98-1.506 C56.358,48.97,49.388,61.356,52.714,73.252c2.696,9.639,11.563,16.373,21.563,16.373c2.037,0,4.071-0.281,6.046-0.834 c7.846-2.193,13.745-8.707,16.611-18.338C99.521,61.764,99.456,51.249,96.76,41.603z">
                                                </path>
                                                <path
                                                    d="M14.088,9.206c-1.009,0-2.02,0.086-3.003,0.26c-0.557,0.096-1.046,0.426-1.347,0.902 c-0.301,0.479-0.386,1.061-0.234,1.605l2.592,9.268c0.25,0.895,1.097,1.5,2.01,1.459l0.204-0.004 c4.668,0,13.2,6.996,17.549,22.545c0.173,0.621,0.336,1.252,0.492,1.906c-4.884-2.416-10.706-2.975-15.98-1.506 C4.475,48.97-2.497,61.356,0.831,73.252c2.696,9.639,11.563,16.373,21.563,16.373c2.037,0,4.071-0.281,6.047-0.834 c7.845-2.193,13.744-8.707,16.611-18.338c2.586-8.689,2.522-19.205-0.175-28.852C39.625,22.831,26.678,9.206,14.088,9.206z">
                                                </path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                                <p>The Lithium-Ion and Lithium Ferro Phosphate battery packs they offer are at the
                                    forefront of cutting-edge energy solutions, providing our customers with reliable,
                                    high- performance options for their diverse applications.</p>
                                <img src="https://eeepvtltd.com/wp-content/uploads/2021/08/5.jpeg" alt=""
                                    class="company-logo">
                                <h6 class="company-name">Duro Power</h6>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption">
                            <div class="content-box">
                                <svg fill="#00adef" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 98.829 98.829"
                                    xml:space="preserve">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <g>
                                            <g>
                                                <path
                                                    d="M96.76,41.603C91.511,22.831,78.562,9.204,65.975,9.204c-1.011,0-2.021,0.088-3.005,0.262 c-0.558,0.098-1.046,0.426-1.348,0.902c-0.301,0.479-0.386,1.061-0.233,1.605l2.591,9.268c0.25,0.895,1.113,1.5,2.01,1.459 l0.206-0.004c4.668,0,13.199,6.996,17.548,22.545c0.172,0.617,0.335,1.248,0.492,1.906c-4.882-2.416-10.706-2.975-15.98-1.506 C56.358,48.97,49.388,61.356,52.714,73.252c2.696,9.639,11.563,16.373,21.563,16.373c2.037,0,4.071-0.281,6.046-0.834 c7.846-2.193,13.745-8.707,16.611-18.338C99.521,61.764,99.456,51.249,96.76,41.603z">
                                                </path>
                                                <path
                                                    d="M14.088,9.206c-1.009,0-2.02,0.086-3.003,0.26c-0.557,0.096-1.046,0.426-1.347,0.902 c-0.301,0.479-0.386,1.061-0.234,1.605l2.592,9.268c0.25,0.895,1.097,1.5,2.01,1.459l0.204-0.004 c4.668,0,13.2,6.996,17.549,22.545c0.173,0.621,0.336,1.252,0.492,1.906c-4.884-2.416-10.706-2.975-15.98-1.506 C4.475,48.97-2.497,61.356,0.831,73.252c2.696,9.639,11.563,16.373,21.563,16.373c2.037,0,4.071-0.281,6.047-0.834 c7.845-2.193,13.744-8.707,16.611-18.338c2.586-8.689,2.522-19.205-0.175-28.852C39.625,22.831,26.678,9.206,14.088,9.206z">
                                                </path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                                <p>The innovative battery packs and power backup solutions provided by EEE Energy
                                    Private Limited have significantly enhanced the quality and competitiveness of our
                                    electric vehicles.</p>
                                <img src="https://eeepvtltd.com/wp-content/uploads/2021/08/8.jpeg" alt=""
                                    class="company-logo">
                                <h6 class="company-name">Maruthisan</h6>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption">
                            <div class="content-box">
                                <svg fill="#00adef" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 98.829 98.829"
                                    xml:space="preserve">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <g>
                                            <g>
                                                <path
                                                    d="M96.76,41.603C91.511,22.831,78.562,9.204,65.975,9.204c-1.011,0-2.021,0.088-3.005,0.262 c-0.558,0.098-1.046,0.426-1.348,0.902c-0.301,0.479-0.386,1.061-0.233,1.605l2.591,9.268c0.25,0.895,1.113,1.5,2.01,1.459 l0.206-0.004c4.668,0,13.199,6.996,17.548,22.545c0.172,0.617,0.335,1.248,0.492,1.906c-4.882-2.416-10.706-2.975-15.98-1.506 C56.358,48.97,49.388,61.356,52.714,73.252c2.696,9.639,11.563,16.373,21.563,16.373c2.037,0,4.071-0.281,6.046-0.834 c7.846-2.193,13.745-8.707,16.611-18.338C99.521,61.764,99.456,51.249,96.76,41.603z">
                                                </path>
                                                <path
                                                    d="M14.088,9.206c-1.009,0-2.02,0.086-3.003,0.26c-0.557,0.096-1.046,0.426-1.347,0.902 c-0.301,0.479-0.386,1.061-0.234,1.605l2.592,9.268c0.25,0.895,1.097,1.5,2.01,1.459l0.204-0.004 c4.668,0,13.2,6.996,17.549,22.545c0.173,0.621,0.336,1.252,0.492,1.906c-4.884-2.416-10.706-2.975-15.98-1.506 C4.475,48.97-2.497,61.356,0.831,73.252c2.696,9.639,11.563,16.373,21.563,16.373c2.037,0,4.071-0.281,6.047-0.834 c7.845-2.193,13.744-8.707,16.611-18.338c2.586-8.689,2.522-19.205-0.175-28.852C39.625,22.831,26.678,9.206,14.088,9.206z">
                                                </path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                                <p>EEE Energy Private Limited's pioneering battery technology and unwavering commitment
                                    to innovation have played an instrumental role in our ability to provide Electric
                                    Vehicles that excel in performance, efficiency, and reliability. The Lithium-Ion and
                                    Lithium Ferro Phosphate battery packs they offer have consistently surpassed our
                                    expectations, enabling us to deliver state-of-the-art Electric Vehicles to our
                                    customers.</p>
                                <img src="https://eeepvtltd.com/wp-content/uploads/2021/08/eco-dynaamic.jpeg" alt=""
                                    class="company-logo">
                                <h6 class="company-name">Eco Dynaamic</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="banner-content-1">
        <div class="row">
            <div class="content col-md-6">
                <h4>Most trustworthy source of power to the world</h4>
                <p>We are the industry leader in manufacturing Li-ion and LiFePO4 custom batteries for: solar power and
                    renewable energy. Few of our batteries include UPS/Inverter battery, Energy Storage System
                    batteries, Electric Vehicle Battery and Automotive Battery.</p>
            </div>
            <div class="image col-md-6">
                <div class="image-container">
                    <img src="https://eeepvtltd.com/wp-content/uploads/2021/08/adirath_high_v2_09-06-2-pdf.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="specifications">
        <div class="row">
            <div class="section-title">
                <h6>Technical Specifications</h6>
            </div>
            <div class="section-content">
                <div class="table-responsive" style="overflow-x: auto;">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th style="width: 30%;"><strong>Model</strong></th>
                                <th>{{ specifications[1].model }}</th>
                                <th>{{ specifications[0].model }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>Capacity</strong></td>
                                <td>{{ specifications[1].capacity }}</td>
                                <td>{{ specifications[0].capacity }}</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="table-section-heading">INPUT</td>
                            </tr>
                            <tr>
                                <td><strong>Rated AC Voltage</strong></td>
                                <td>
                                    {{ specifications[1].input.ratedACVoltage }}
                                </td>
                                <td>
                                    {{ specifications[0].input.ratedACVoltage }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Voltage Range</strong></td>
                                <td>
                                    {{ specifications[1].input.voltageRange }}
                                </td>
                                <td>
                                    {{ specifications[0].input.voltageRange }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Frequency Range</strong></td>
                                <td>
                                    {{ specifications[1].input.frequencyRange }}
                                </td>
                                <td>
                                    {{ specifications[0].input.frequencyRange }}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" class="table-section-heading">BATTERY</td>
                            </tr>
                            <tr>
                                <td><strong>Chemistry</strong></td>
                                <td>{{ specifications[1].battery.chemistry }}</td>
                                <td>{{ specifications[0].battery.chemistry }}</td>
                            </tr>
                            <tr>
                                <td><strong>Voltage</strong></td>
                                <td>{{ specifications[1].battery.voltage }}</td>
                                <td>{{ specifications[0].battery.voltage }}</td>
                            </tr>
                            <tr>
                                <td><strong>Capacity</strong></td>
                                <td>{{ specifications[1].battery.capacity }}</td>
                                <td>{{ specifications[0].battery.capacity }}</td>
                            </tr>
                            <tr>
                                <td><strong>Charging Current Max</strong></td>
                                <td>{{ specifications[1].battery.chargingCurrentMax }}</td>
                                <td>{{ specifications[0].battery.chargingCurrentMax }}</td>
                            </tr>
                            <tr>
                                <td><strong>Low Voltage Protection</strong></td>
                                <td>{{ specifications[1].battery.lowVoltageProtection }}</td>
                                <td>{{ specifications[0].battery.lowVoltageProtection }}</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="table-section-heading">OUTPUT</td>
                            </tr>
                            <tr>
                                <td><strong>Rated Voltage</strong></td>
                                <td>{{ specifications[1].output.ratedVoltage }}</td>
                                <td>{{ specifications[0].output.ratedVoltage }}</td>
                            </tr>
                            <tr>
                                <td><strong>Frequency Range</strong></td>
                                <td>{{ specifications[1].output.frequencyRange }}</td>
                                <td>{{ specifications[0].output.frequencyRange }}</td>
                            </tr>
                            <tr>
                                <td><strong>Voltage Regulation</strong></td>
                                <td>{{ specifications[1].output.voltageRegulation }}</td>
                                <td>{{ specifications[0].output.voltageRegulation }}</td>
                            </tr>
                            <tr>
                                <td><strong>Harmonic Distortion</strong></td>
                                <td>{{ specifications[1].output.harmonicDistortion }}</td>
                                <td>{{ specifications[0].output.harmonicDistortion }}</td>
                            </tr>
                            <tr>
                                <td><strong>Crest Factor</strong></td>
                                <td>{{ specifications[1].output.CrestFactor }}</td>
                                <td>{{ specifications[0].output.CrestFactor }}</td>
                            </tr>
                            <tr>
                                <td><strong>Efficiency</strong></td>
                                <td>{{ specifications[1].output.efficiency }}</td>
                                <td>{{ specifications[0].output.efficiency }}</td>
                            </tr>
                            <tr>
                                <td><strong>Overload</strong></td>
                                <td>{{ specifications[1].output.overload }}</td>
                                <td>{{ specifications[0].output.overload }}</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="table-section-heading">SYSTEM FEATURES</td>
                            </tr>
                            <tr>
                                <td><strong>Display</strong></td>
                                <td>{{ specifications[1].systemFeatures.display }}</td>
                                <td>{{ specifications[0].systemFeatures.display }}</td>
                            </tr>
                            <tr>
                                <td><strong>IP Rating</strong></td>
                                <td>{{ specifications[1].systemFeatures.ipRating }}</td>
                                <td>{{ specifications[0].systemFeatures.ipRating }}</td>
                            </tr>
                            <tr>
                                <td><strong>Alarm Protection</strong></td>
                                <td>{{ specifications[1].systemFeatures.alarmProtection }}</td>
                                <td>{{ specifications[0].systemFeatures.alarmProtection }}</td>
                            </tr>
                            <tr>
                                <td><strong>Audible Alarms</strong></td>
                                <td>{{ specifications[1].systemFeatures.audibleAlarms }}</td>
                                <td>{{ specifications[0].systemFeatures.audibleAlarms }}</td>
                            </tr>
                            <tr>
                                <td><strong>LED Indications</strong></td>
                                <td>{{ specifications[1].systemFeatures.ledIndications }}</td>
                                <td>{{ specifications[0].systemFeatures.ledIndications }}</td>
                            </tr>
                            <tr>
                                <td><strong>LCD Display Information</strong></td>
                                <td>{{ specifications[1].systemFeatures.lcdDisplayInformation }}</td>
                                <td>{{ specifications[0].systemFeatures.lcdDisplayInformation }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <section class="product-images">
        <div class="row">
            <div class="section-title">
                <h6>Product Images</h6>
            </div>
            <div class="product-slider-container">
                <button class="prev" (click)="prevSlide()">&#10094;</button>

                <div class="product-images">
                    <div class="row m-0 d-flex">
                        <div class="col-md-4">
                            <div class="image-container">
                                <img *ngFor="let image of productImages; let i = index" [src]="image.src"
                                    [alt]="image.alt" [class.active]="i === currentSlideIndex" class="product-slide">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="image-container">
                                <img *ngFor="let image of productImages; let i = index" [src]="image.src"
                                    [alt]="image.alt" [class.active]="i === currentSlideIndex+1" class="product-slide">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="image-container">
                                <img *ngFor="let image of productImages; let i = index" [src]="image.src"
                                    [alt]="image.alt" [class.active]="i === currentSlideIndex+2" class="product-slide">
                            </div>
                        </div>
                    </div>
                    <div class="row d-none d-md-flex">
                        <div class="col-md-4">
                            <div class="image-container">
                                <img *ngFor="let image of productImages; let i = index" [src]="image.src"
                                    [alt]="image.alt" [class.active]="i === currentSlideIndex+3" class="product-slide">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="image-container">
                                <img *ngFor="let image of productImages; let i = index" [src]="image.src"
                                    [alt]="image.alt" [class.active]="i === currentSlideIndex+4" class="product-slide">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="image-container">
                                <img *ngFor="let image of productImages; let i = index" [src]="image.src"
                                    [alt]="image.alt" [class.active]="i === currentSlideIndex+5" class="product-slide">
                            </div>
                        </div>
                    </div>
                </div>
                <button class="next" (click)="nextSlide()">&#10095;</button>
            </div>
            <!--<div class="additional-images row m-0">
                <div class="col-xl-4 d-none d-xl-block">
                    <a><img *ngFor="let image of productImages; let i = index" [src]="image.src" [alt]="image.alt"
                    [class.active]="i === currentSlideIndex+1" class="product-slide"></a>
                </div>
                <div class="col-xl-4 d-none d-xl-block">
                    <a><img *ngFor="let image of productImages; let i = index" [src]="image.src" [alt]="image.alt"
                    [class.active]="i === currentSlideIndex+2" class="product-slide"></a>
                </div>
                <div class="col-xl-4 d-none d-xl-block">
                    <a (click)="changeImage(currentSlideIndex+3)"><img *ngFor="let image of productImages; let i = index" [src]="image.src" [alt]="image.alt"
                    [class.active]="i === currentSlideIndex+3" class="product-slide"></a>
                </div>
            </div>-->
        </div>
    </section>
    <section class="application-areas">
        <div class="row">
            <div class="section-title">
                <h6>Application</h6>
            </div>
            <div class="section-content">
                <p>The UPS/Inverter battery is the integral component of industrial computers and other usages. During
                    abrupt power outages, it acts as a reliable shield to defend your valuable devices. So to handle the
                    unforeseen condition, our UPS/Inverter battery comes into play with its amplifying redundancy and
                    scalability feature. Recently, it gains momentum due to its enticing concept of answering power
                    protection necessity.</p>
                <p>The UPS/Inverter batteries have long been used in electronic devices such as laptops and smartphones,
                    and
                    they are now essential components in the development of electric vehicles. They are, however,
                    becoming a
                    more realistic alternative for uninterruptible power supplies and other energy storage systems, such
                    as
                    harnessing the power of renewable energy technologies such as wind or solar, in recent years. Other
                    areas of application are as follows:</p>
                <div class="areas-container row">
                    <div class="area col-lg-3 col-md-4 col-sm-12"
                        *ngFor="let applicationArea of batteryApplicationAreas">
                        <div class="application-box">
                            <img [src]="'products/battery/application/'+applicationArea.image" alt="">
                            <p class="application-name">{{applicationArea.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="certificates">
        <div class="row">
            <div class="section-title">
                <h6>Certificates</h6>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="certificate col-md-3">
                        <img src="products/battery/ROHS.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="certificate col-md-3">
                        <img src="products/battery/45001.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="certificate col-md-3">
                        <img src="products/battery/9001.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="certificate col-md-3">
                        <img src="products/battery/14001.jpg" alt="" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="for-user-reference">
        <div class="row">
            <div class="section-title">
                <h6 class="text-center mb-5">For User Ref</h6>
            </div>
            <div class="section-content">
                <div class="load-details-section">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-12">
                                    <h6 class="table-title">Load details</h6>
                                    <table class="table table-responsive table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Appliances</th>
                                                <th>Load in Watts</th>
                                                <th>Option 1</th>
                                                <th>Option 2</th>
                                                <th>Option 3</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>TV</td>
                                                <td>125</td>
                                                <td></td>
                                                <td>1</td>
                                                <td>1</td>
                                            </tr>
                                            <tr>
                                                <td>FAN</td>
                                                <td>75</td>
                                                <td>2</td>
                                                <td>2</td>
                                                <td>3</td>
                                            </tr>
                                            <tr>
                                                <td>LED Light</td>
                                                <td>9</td>
                                                <td>2</td>
                                                <td>1</td>
                                                <td>2</td>
                                            </tr>
                                            <tr>
                                                <td>Tube Light</td>
                                                <td>20</td>
                                                <td>1</td>
                                                <td>2</td>
                                                <td>2</td>
                                            </tr>
                                            <tr>
                                                <td>Laptop</td>
                                                <td>90</td>
                                                <td></td>
                                                <td></td>
                                                <td>1</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <h6 class="table-title">Back up time</h6>
                                    <table class="table table-responsive table-bordered">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>1 kVA</th>
                                                <th>2 kVA</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Option 1</td>
                                                <td>4 hours</td>
                                                <td>8 hours</td>
                                            </tr>
                                            <tr>
                                                <td>Option 2</td>
                                                <td>2 hours 30 minutes</td>
                                                <td>5 hours</td>
                                            </tr>
                                            <tr>
                                                <td>Option 3</td>
                                                <td>1 hour 40 minutes</td>
                                                <td>3 hour 15 minutes</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p>* Backup time may vary based on load</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="troubleshooting">
                                <h6 class="title">Trouble shooting</h6>
                                <div class="row">
                                    <div class="col-12">
                                        <ul>
                                            <li *ngFor="let troubleShoot of inverterTroubleshooting">{{troubleShoot}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row mt-5">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="troubleshoot-image-container col-md-6">
                                                <img src="products/battery/trouble-shoot.png" alt=""
                                                    class="inverter-image">
                                            </div>
                                            <div class="troubleshoot-points-container col-md-6">
                                                <ol>
                                                    <li>Fan</li>
                                                    <li>Reset Switch</li>
                                                    <li>Mains Input</li>
                                                    <li>UPS Output Socket</li>
                                                    <li>Mains MCB</li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="faq-section">
        <div class="container row">
            <div class="section-title">
                <h6>FAQs</h6>
            </div>
            <div class="accordion accordion-flush" id="lithiumBatteryFaq">
                <div *ngFor="let faq of faqs; let i = index" class="accordion-item">
                    <h2 class="accordion-header" [id]="'faqHeading' + i">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            [attr.data-bs-target]="'#faqCollapse' + i" aria-expanded="true"
                            [attr.aria-controls]="'faqCollapse' + i">
                            {{ faq.question }}
                        </button>
                    </h2>
                    <div [id]="'faqCollapse' + i" class="accordion-collapse collapse"
                        [attr.aria-labelledby]="'faqHeading' + i" data-bs-parent="#lithiumBatteryFaq">
                        <div class="accordion-body">
                            {{ faq.answer }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>