<div class="container-fluid p-0">
    <div class="first-footer">
        <div class="row g-5">
            <div class="col-md-3 about">
                <img src="footer logo.png" alt="logo">
                <p class="mt-3">Reydon Resources Private Limited - Making your real-estate dreams become reality. Your trusted
                    partner in
                    real estate and allied trading & services.</p>
            </div>
            <div class="col-md-4 contact">
                <div class="section">
                    <h6>Contact</h6>
                    <div class="d-flex align-items-start location py-2 ps-2">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="map"></mat-icon>
                        <address class="ms-3">
                            Reydon Resources Private Limited,<br>
                            D.NO.28-East, L.S Nagar,<br>
                            Mathakottai Road, Serfoji College Post,<br>
                            Thanjavur Dist-613005, Tamilnadu.
                        </address>
                    </div>
                    <div class="d-flex align-items-start phone py-2 px-2">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" width="15"
                            fontIcon="call"></mat-icon>
                        <h5 class="phone-number ms-3 my-auto lh-sm">7708943894, 9042439980</h5>
                    </div>
                    <div class="d-flex align-items-center email py-2 px-2">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="email"
                            width="15"></mat-icon>
                        <h5 class="email-id ms-3 my-auto">reydonrpl&#64;gmail.com</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-2 discover">
                <div class="section">
                    <h6>Company</h6>
                    <ul>
                        <li><a routerLink="/about">About Us</a></li>
                        <li><a routerLink="/contact">Contact Us</a></li>
                        <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                        <li><a routerLink="/terms-of-use">Terms of Use</a></li>
                        <li><a routerLink="/FAQ">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 footer-icons">
                <h6>Follow us on</h6>
                <ul>
                    <i class="bi bi-instagram"></i>
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-whatsapp"></i>
                    <i class="bi bi-youtube"></i>
                    <i class="bi bi-twitter-x"></i>
                </ul>
            </div>
        </div>
    </div>
    <div class="second-footer px-md-5">
        <div class="row">
            <div class="col-12 copyright">
                <p class="my-auto">© 2024 Reydon Resources Private Limited. All rights reserved.</p>
            </div>
        </div>
    </div>
</div>