<div class="container-fluid p-0">
    <div class="first-footer">
        <div class="row g-5">
            <div class="col-md-3 about">
                <h6>Reydon Resources</h6>
                <p>Reydon Resources Private Limited - Making your real-estate dreams become reality. Your trusted
                    partner in
                    real estate and allied trading & services.</p>
                <a routerLink="/about">Read more</a>
            </div>
            <div class="col-md-3 contact">
                <h6>Contact Us</h6>
                <div class="d-flex align-items-start phone py-2 px-2">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" width="15" fontIcon="call"></mat-icon>
                    <h5 class="phone-number ms-3 my-auto lh-sm">7708943894, 9042439980</h5>
                </div>
                <div class="d-flex align-items-center email py-2 px-2">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="email" width="15"></mat-icon>
                    <h5 class="email-id ms-3 my-auto">reydonrpl&#64;gmail.com</h5>
                </div>
                <a routerLink="/contact">contact us</a>
            </div>
            <div class="col-md-3 discover">
                <h6>Discover</h6>
                <ul>
                    <li><a href="">Residential Plots</a></li>
                    <li><a href="">Residential Building</a></li>
                    <li><a href="">Commercial Plots</a></li>
                    <li><a href="">Commercial Building</a></li>
                </ul>
            </div>
            <div class="col-md-3 services">
                <h6>Services</h6>
                <ul>
                    <li><a href="">Property Management</a></li>
                    <li><a href="">Reydon Interior Design</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="second-footer px-md-5">
        <div class="row">
            <div class="col-md-4 copyright">
                <p>© 2024 Reydon Resources Private Limited. All rights reserved.</p>
            </div>
            <div class="col-md-4 links">
                <ul>
                    <li><a routerLink="/about">Privacy</a></li>
                    <li><a routerLink="/about">Terms and Conditions</a></li>
                    <li><a routerLink="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4 footer-icons">
                <ul>
                    <i class="bi bi-instagram"></i>
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-whatsapp"></i>
                    <i class="bi bi-youtube"></i>
                    <i class="bi bi-twitter-x"></i>
                </ul>
            </div>
        </div>
    </div>
</div>