.first-footer{
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    padding: 40px 0;
    color: white;
}
.first-footer .row{
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
h6{
    font-size: 20px;
    font-weight: 500;
    color: white;
}
.about p{
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}
.about img{
    width: 200px;
}
.phone-number,.email-id{
    font-size: 14px;
    font-weight: 300;
}
.discover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.discover ul{
    padding: 0 0 0 10px;
}
.discover li{
    list-style-type: none;
    margin:10px 0;
}
.discover li a{
    font-size: 16px;
    font-weight: 400;
    color: white;
}
.services ul{
    padding: 0;
}
.services li{
    list-style-type: none;
    font-size: 14px;
    font-weight: 300;
}
.second-footer{
    width: 100%;
    background-color: #00335a; 
    color: white; 
    padding: 8px 0;
}
.second-footer .row{
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright p{
    font-size: 15px;
    font-weight: 300;
    text-align: center;
}
.links ul{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links ul li {
    list-style: none;
    margin: 0 10px;
    text-align: center;
}
.footer-icons ul{
    padding: 0;
    display: flex;
    justify-content: center;
}
.footer-icons li{
    list-style-type: none;
}
.footer-icons ul i{
    font-size: 24px;
    margin: 0 10px;
    font-weight: 300;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 300;
}
a:hover{
    color: var(--button-color);
    font-weight: 300;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact h5{
    font-size: 16px;
    font-weight: 400;
}
.about p{
    font-size: 16px;
}


@media (max-width:768px){
    .discover{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }
}

@media (max-width:480px){
    .discover{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }
}