<div class="container-fluid p-0 w-100">
    <div class="row w-100 p-0 m-0">
         <!--<div class="col-md-6 icons">
           <ul>
                <i class="bi bi-instagram"></i>
                <i class="bi bi-facebook"></i>
                <i class="bi bi-whatsapp"></i>
                <i class="bi bi-youtube"></i>
                <i class="bi bi-twitter-x"></i>
            </ul>
        </div>-->
        <div class="col-12 contact">
            <div class="d-flex phone me-2">
                <mat-icon class="my-auto" aria-hidden="false" aria-label="Example home icon" fontIcon="email"></mat-icon>
                <h5 class="phone-number ms-2 my-auto">reydonrpl&#64;gmail.com</h5>
            </div>
            <div class="d-flex phone me-2">
                <mat-icon class="my-auto" aria-hidden="false" aria-label="Example home icon" fontIcon="call"></mat-icon>
                <h5 class="phone-number ms-2 my-auto">+91 7708943894</h5>
            </div>
        </div>
    </div>
</div>