<!--<div class="container-fluid banner p-0">
    <div class="row">
        <div class="col-12">
            <div class="overlay">
                <img src="contactpage.jpg" alt="">
                <h2 class="banner-title">About Us</h2>
            </div>
        </div>
    </div>
</div>-->
<div class="container aboutUs-section">
    <div class="about">
        <div class="row">
            <div class="col-md-6 aboutUs-content">
                <h6>About Us</h6>
                <p>Welcome to <span class="company-name">"Reydon Resources Private Limited"</span>, where your
                    Real-estate dreams become reality. we
                    areyour trusted partner in real estate and allied trading & services. With years of experience and
                    adeep understanding of the market, we are dedicated to helping you navigate the complexities of
                    buying, selling, and managing properties.</p>
            </div>
            <div class="col-md-6 aboutUs-image">
                <img src="about/aboutUs.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="container aboutUs-section"  style="padding-bottom: 50px;">
    <div class="about">
        <div class="row">
            <div class="col-md-6 order-2 order-md-1 aboutUs-image">
                <img src="about/whyChooseUs.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-6 order-1 order-md-2 aboutUs-content">
                <h6>Why We Are</h6>
                <p>Founded in 2024, <span class="company-name">"Reydon Resources Private Limited” </span>has grown to become a trusted name in the real
                    estate industry. Our team of experts is passionate about real estate and trading services, committed
                    to delivering personalized solutions tailored to your unique needs. We pride ourselves on our
                    integrity, built on trust, transparency, and dedication to client satisfaction.</p>
            </div>
        </div>
    </div>
</div>
<app-visio-mission></app-visio-mission>
<app-our-values></app-our-values>
<app-what-we-do></app-what-we-do>
<app-our-team></app-our-team>