<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center p-0" href="#">
                <img src="https://res.cloudinary.com/dbzme4gd3/image/upload/v1726207992/Logo_Final_hqkdmu.png" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item mx-2">
                        <a class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="active"
                            (click)="collapseNavbar()">Home</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" aria-current="page" routerLinkActive="active"
                            (click)="collapseNavbar();gotoProjectsPage('All')">Projects</a>
                    </li>
                    <!--<li class="nav-item mx-2 dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" routerLinkActive="active" (click)="gotoProjectsPage('All')">Projects</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" (click)="collapseNavbar();gotoProjectsPage('Residential')">Residential</a></li>
                            <li><a class="dropdown-item" (click)="collapseNavbar();gotoProjectsPage('Commercial')">Commercial</a></li>
                            <li><a class="dropdown-item" routerLink="/upcoming-projects" (click)="collapseNavbar()">Upcoming Projects</a></li>
                        </ul>
                    </li>-->
                    <!--<li class="nav-item mx-2">
                        <a class="nav-link" routerLink="/properties" routerLinkActive="active" (click)="collapseNavbar()">Products</a>
                    </li>-->
                    <li class="nav-item mx-2 dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" routerLink="/services" routerLinkActive="active">Services</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" routerLink="/real-estate" (click)="collapseNavbar()">Real Estate</a></li>
                            <li><a class="dropdown-item" routerLink="/property-management" (click)="collapseNavbar()">Property Management</a></li>
                            <li><a class="dropdown-item" routerLink="/financial-planning" (click)="collapseNavbar()">Financial Planning</a></li>
                            <li><a class="dropdown-item" routerLink="/products" (click)="collapseNavbar()">Products</a></li>
                        </ul>
                    </li>
                    <!--<li class="nav-item mx-2">
                        <a class="nav-link" routerLink="/about" routerLinkActive="active" (click)="collapseNavbar()">About</a>
                    </li>-->
                    <li class="nav-item mx-2 dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" routerLinkActive="active">Contact</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" routerLink="/about" (click)="collapseNavbar()">About Us</a></li>
                            <li><a class="dropdown-item" routerLink="/contact" (click)="collapseNavbar()">Contact Us</a></li>
                            <li><a class="dropdown-item" routerLink="/careers" (click)="collapseNavbar()">Careers</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex me-2" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <mat-icon class="my-auto" aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>
                </form>
            </div>
        </div>
    </nav>
</div>