<div class="container-fluid vision-mision-section">
    <div class="row about p-0 m-0">
        <div class="col-md-4">
            <div class="vision">
                <div class="image-container">
                    <img src="vision-mission/vision.png" alt="vision">
                </div>
                <h6>Vision</h6>
                <p>"To be the leading provide of comprehensive real estate and allied services, delivering
                    unparalleled value and exceptional experiences to our clients through innovative
                    solutions, unwavering integrity and a commitment to excellence."
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="mission">
                <div class="image-container">
                    <img src="vision-mission/mission.png" alt="mission">
                </div>
                <h6>Mission</h6>
                <p>"Our mission is to provide exceptional real estate and allied services that exceed expectations. We
                    deliver innovative, personalized solutions with integrity, striving to set new standards in quality,
                    sustainability, and customer satisfaction."
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="values">
                <div class="image-container">
                    <img src="vision-mission/values.png" alt="values">
                </div>
                <h6>Values</h6>
                <p>"Our values are integrity, innovation, and excellence. We build lasting client relationships by
                    delivering high-quality services, focusing on sustainability, transparency, and customer
                    satisfaction to
                    set new industry benchmarks."</p>
            </div>
        </div>
    </div>
</div>