.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner-section {
    width: 100%;
    height: 500px;
}

.banner-section img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.filter-section-large {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 20px 0;
    margin-top: 50px;
}

.filter-section-large .laptop {
    display: flex;
    width: 100%;
    max-width: 1500px;
}

.filter-section-large .ipad {
    display: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.filter-section-large .mobile {
    display: none;
}

.filter-section-large .mobile .filter-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    margin: 10px 0 0 0;
    border-radius: 8px;
    padding: 10px 0;
}

.filter-section-large .mobile .row {
    margin-top: 8px;
}

.filter-button button {
    background-color: var(--button-color);
    border: none;
    color: white;
}

.advance-search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-color);
    color: white;
    border: none;
    padding: 8px 10px;
    font-size: 16px;
    border-radius: 8px;
}

.advance-search-btn svg {
    width: 24px;
    height: 24px;
    color: white;
    margin-right: 8px;
}

.form-label {
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.form-control {
    color: black;
}

.reset-button {
    background-color: var(--button-color);
    color: white;
}

/*************************Project card****************/
.cards-container {
    width: 100%;
    background-color: #F7F8FA;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.cards-container .row {
    width: 100%;
    max-width: 1700px;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.project-card {
    width: 300px;
    height: 375px;
    /*border-radius: 12px;*/
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    padding: 0;
    margin: 20px;
}

.image-section {
    width: 100%;
    height: 180px;
    position: relative;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-section .image-overlay {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background: linear-gradient(to bottom,rgba(0,0,0,0.1)20%,rgba(0,0,0,0)80%);
    z-index: 5;
    }
.image-section .image-label {
    position: absolute;
    padding: 0px 8px;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    top: 8%;
    left: 3%;
    z-index: 8;
}
.image-section .image-label svg{
    width: 35px;
    height: auto;
}

.content-section {
    width: 100%;
    height: 195px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.category-label {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-label ul {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0;
    margin: 0;
}

.category-label ul li {
    list-style-type: none;
    margin-right: 8px;
    font-size: 11px;
    color: white;
    border-radius: 4px;
    padding: 0px 5px;
}


.title-section {
    margin: 0;
}

.title-section h6 {
    font-size: 24px;
    color: var(--primary-color);
    font-weight: 500;
    margin: 0;
    padding: 5px 0;
}


.location-section {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

.location-section svg {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.location-section span {
    font-size: 14px;
    font-weight: 400;
}

.knowmore-btn-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plots-count {
    font-size: 14px;
}

.know-more-btn {
    font-size: 14px;
    font-weight: 400;
    color: white;
    background-color: var(--primary-color);
    padding: 2px 10px;
    border-radius: 6px;
    border: none;
}

.divider {
    padding: 0;
    margin: 0 0 0 0;
}

.amenities-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 0;
}

.amenities img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    color: #767F86;
}

.project-updated-date {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-updated-date svg {
    width: 15px;
    height: 15px;
    margin-right: 8px;
}

.project-updated-date h6 {
    font-size: 15px;
    color: #000000;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

/****************************zone modal*****************/
.zone-name-title {
    color: var(--primary-color);
    font-weight: 500;
}

#zoneModal td {
    vertical-align: middle;
    text-align: left;
}

#zoneModal th {
    vertical-align: middle;
    text-align: center;
    background-color: var(--primary-color);
    color: white;
}

#zoneModal .modal-body {
    overflow-x: auto;
}

#zoneModal .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    /* Adds smooth scrolling on mobile */
}

/* Media query for medium screens */
@media (max-width: 1200px) {
    .filter-section-large .laptop {
        display: none;
    }

    .filter-section-large .ipad {
        display: flex;
    }

    .filter-section-large .mobile {
        display: none;
    }

    .cards-container .row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .project-card {
        margin: 30px;
    }
}

/* Media query for medium screens  */
@media (max-width: 992px) {
    .filter-section-large .laptop {
        display: none;
    }

    .filter-section-large .ipad {
        display: flex;
    }

    .filter-section-large .mobile {
        display: none;
    }

    .cards-container .row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .project-card {
        margin: 30px;
    }
}

/* Media query for medium screens  */
@media (max-width: 768px) {
    .filter-section-large .laptop {
        display: none;
    }

    .filter-section-large .ipad {
        display: flex;
    }

    .filter-section-large .mobile {
        display: none;
    }

    .cards-container .row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .project-card {
        margin: 30px;
    }
}

/* Media query for small screens  */
@media (max-width: 576px) {
    .filter-section-large {
        width: 100%;
        display: block;
        background-color: transparent;
        padding: 20px 0;
        margin-top: 0px;
    }

    .filter-section-large .laptop {
        display: none;
    }

    .filter-section-large .ipad {
        display: none;
    }

    .filter-section-large .mobile {
        display: block;
    }

    .cards-container .row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .advance-search-btn {
        display: none;
    }

}