<div class="container-fluid p-0">
    <section class="banner">
        <div class="banner-section">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-interval="6000" data-bs-ride="carousel">
                <!-- Set the interval to 6000 ms (6 seconds) -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                        aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
                        aria-label="Slide 6"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6"
                        aria-label="Slide 7"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="products/battery/slider-image/power_protection.jpg"
                            class="d-block w-100 img-responsive" alt="...">
                        <div class="carousel-caption">
                            <div class="content-box">
                                <h5 class="animate__animated animate__slideInDown" style="animation-delay: 0.25s;">
                                    Shield Your Devices with Confidence</h5>
                                <p class="d-none d-md-block animate__animated animate__slideInRight">Protect your
                                    critical equipment from unexpected power
                                    interruptions and surges with our
                                    advanced lithium UPS solutions designed for maximum reliability.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="products/battery/slider-image/rapid_charging.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption">
                            <div class="content-box">
                                <h5 class="animate__animated animate__slideInDown" style="animation-delay: 0.25s;">Get
                                    Back to Power in No
                                    Time
                                </h5>
                                <p class="d-none d-md-block animate__animated animate__slideInRight">Experience rapid
                                    charging capabilities with our lithium UPS
                                    systems, ensuring your
                                    devices are powered up and ready to go when you need them most.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="products/battery/slider-image/remote_monitoring.jpg"
                            class="d-block w-100 img-responsive" alt="...">
                        <div class="carousel-caption">
                            <div class="content-box">
                                <h5 class="animate__animated animate__slideInDown" style="animation-delay: 0.25s;">Stay
                                    Connected, Stay In Control</h5>
                                <p class="d-none d-md-block animate__animated animate__slideInRight">Monitor and manage
                                    your UPS performance from anywhere with
                                    our
                                    intelligent remote
                                    monitoring system, providing real-time updates and alerts for your peace of mind.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="products/battery/slider-image/zero_maintanace.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption">
                            <div class="content-box">
                                <h5 class="animate__animated animate__slideInDown" style="animation-delay: 0.25s;">
                                    Worry-Free Power Solutions</h5>
                                <p class="d-none d-md-block animate__animated animate__slideInRight">Enjoy hassle-free
                                    operation with our zero-maintenance
                                    lithium
                                    UPS systems, engineered for
                                    durability and long-lasting performance without the need for regular upkeep.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="products/battery/slider-image/EV.jpg" class="d-block w-100 img-responsive" alt="...">
                        <div class="carousel-caption">
                            <div class="content-box">
                                <h5 class="animate__animated animate__slideInDown" style="animation-delay: 0.25s;">
                                    Electric Vehicle Battery</h5>
                                <p class="d-none d-md-block animate__animated animate__slideInRight">Driven by
                                    technological advances! Energy Storage for a
                                    Better World</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="products/battery/slider-image/eco_friendly.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption">
                            <div class="content-box">
                                <h5 class="animate__animated animate__slideInDown" style="animation-delay: 0.25s;">
                                    Sustainable Energy for a Greener Future</h5>
                                <p class="d-none d-md-block animate__animated animate__slideInRight">Our eco-friendly
                                    lithium UPS systems harness renewable
                                    energy,
                                    helping you reduce your
                                    carbon footprint while enjoying reliable power.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <img src="products/battery/slider-image/industrial_applications.jpg"
                            class="d-block w-100 img-responsive" alt="...">
                        <div class="carousel-caption">
                            <div class="content-box">
                                <h5 class="animate__animated animate__slideInDown" style="animation-delay: 0.25s;">
                                    Industrial Applications</h5>
                                <p class="d-none d-md-block animate__animated animate__slideInRight">The next generation
                                    of electric vehicle batteries, with
                                    greater range and improved safety!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>
    <section class="product-name">
        <div class="row">
            <h3 class="product-name m-0 p-0">
                Energy Storage System
            </h3>
        </div>
    </section>
    <section class="about-product">
        <div class="row">
            <div class="product-image col-md-6">
                <div class="image-container">
                    <img src="https://eeepvtltd.com/wp-content/uploads/2024/09/ess-1.jpg" alt="UPS"
                        class="img-responsive">
                </div>
            </div>
            <div class="product-about-content col-md-6">
                <h6 class="product-name">About the Product</h6>
                <p class="product-description">Energy storage system is solar’s best friend. They work together to turn
                    extra on-site generation into an energy powerhouse that can be used even when the sun isn’t shining
                    or grid-sourced electricity is most expensive. That means you can benefit from more cost savings.
                </p>
                <p> Businesses with a lot of demand variation have a “spiky” load, which is based on how much energy
                    they consume, with abrupt shifts throughout the day. That rise – and the related energy expense –
                    can be mitigated with storage.</p>
                <p>If you haven’t looked at battery energy storage systems you may be surprised, by both price drops and
                    major product upgrades.</p>
                <p>Energy storage is a promising method of storing electrical energy so that it can be used whenever it
                    is needed. Energy storage systems, to put it simple, work by charging and discharging batteries, and
                    they are both safe and dependable.</p>
                <p>Battery energy storage systems are rechargeable batteries that store and provide energy from solar
                    panels or the electric grid to a home or business. They can readily execute things that were
                    previously difficult or impossible, such as peak shaving and load shifting, because they feature
                    modern technology that normal batteries lack.</p>
                <p>The energy storage system is a latest technology developed for storing electric charge through the
                    exert of specially developed batteries.</p>
            </div>
        </div>
    </section>
    <section class="additional-about-content">
        <div class="additional-about-content-container row">
            <p>This concept is used widely in most of the sectors across domestic, commercial, and industrial areas.
                Basically, it stores energy from renewable sources like solar panels, wind power, electric poles,
                generators, and much more to facilitate individuals or business owners in enforcing their demands.</p>
            <p>Primarily, these storage batteries are much stronger than regular ones as far as durability, maintenance,
                and
                efficiency are concerned. Hence, it becomes a mandate to analyze various facets including the design of
                the
                product. Therefore, you must make the right choice before you opt for one.</p>
            <p>Adirath’s Energy Resources has earned a reputation for excellence and best-in-class development skills.
                With
                our competence, scale, size and scope of services, we have become a leader in energy storage.</p>
            <p>We believe battery energy storage systems will gradually transform the way we interact with energy.
                They’ll
                make solar energy a no-brainer for a lot more people, provide them more independence from traditional
                utilities, and give them access to a lot more energy options.</p>
        </div>
    </section>
    <section class="highlights">
        <div class="row">
            <div class="section-title">
                <h6>Highlights</h6>
            </div>
            <div class="section-content">
                <div class="highlights-container row">
                    <div class="highlight col-lg-3 col-md-4 col-sm-12"
                        *ngFor="let feature of batteryHighlights;let i=index">
                        <div class="highlight-box animate__animated animate__zoomIn"
                            [ngStyle]="{'animation-delay': (i * 0.15) + 's'}">
                            <div class="image-container">
                                <img [src]="feature.svg" alt="" class="highlight-logo">
                            </div>
                            <p class="highlight-name">{{feature.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--<section class="features">
        <div class="row">
            <div class="section-title">
                <h6>Features</h6>
            </div>
            <div class="section-content">
                <div class="features-container row">
                    <div class="masonry-item col-lg-3 col-md-4 col-sm-12"
                        *ngFor="let feature of lithiumBatteryFeatures;let i=index">
                        <div class="feature-box d-flex flex-column justify-content-center align-items-center animate__animated animate__zoomIn"
                            [ngStyle]="{'animation-delay': (i * 0.15) + 's'}">
                            <div class="image-container">
                                <img [src]="'products/battery/features/'+feature.img" alt="" class="img-responsive">
                            </div>
                            <h3 class="feature-title">{{feature.feature}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <section class="user-review">
        <div class="review-section">
            <div id="userReview" class="carousel slide" data-bs-interval="6000" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#userReview" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#userReview" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#userReview" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#userReview" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="carousel-caption">
                            <div class="content-box">
                                <svg fill="#00adef" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 98.829 98.829"
                                    xml:space="preserve">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <g>
                                            <g>
                                                <path
                                                    d="M96.76,41.603C91.511,22.831,78.562,9.204,65.975,9.204c-1.011,0-2.021,0.088-3.005,0.262 c-0.558,0.098-1.046,0.426-1.348,0.902c-0.301,0.479-0.386,1.061-0.233,1.605l2.591,9.268c0.25,0.895,1.113,1.5,2.01,1.459 l0.206-0.004c4.668,0,13.199,6.996,17.548,22.545c0.172,0.617,0.335,1.248,0.492,1.906c-4.882-2.416-10.706-2.975-15.98-1.506 C56.358,48.97,49.388,61.356,52.714,73.252c2.696,9.639,11.563,16.373,21.563,16.373c2.037,0,4.071-0.281,6.046-0.834 c7.846-2.193,13.745-8.707,16.611-18.338C99.521,61.764,99.456,51.249,96.76,41.603z">
                                                </path>
                                                <path
                                                    d="M14.088,9.206c-1.009,0-2.02,0.086-3.003,0.26c-0.557,0.096-1.046,0.426-1.347,0.902 c-0.301,0.479-0.386,1.061-0.234,1.605l2.592,9.268c0.25,0.895,1.097,1.5,2.01,1.459l0.204-0.004 c4.668,0,13.2,6.996,17.549,22.545c0.173,0.621,0.336,1.252,0.492,1.906c-4.884-2.416-10.706-2.975-15.98-1.506 C4.475,48.97-2.497,61.356,0.831,73.252c2.696,9.639,11.563,16.373,21.563,16.373c2.037,0,4.071-0.281,6.047-0.834 c7.845-2.193,13.744-8.707,16.611-18.338c2.586-8.689,2.522-19.205-0.175-28.852C39.625,22.831,26.678,9.206,14.088,9.206z">
                                                </path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                                <p>Our collaboration with EEE Energy Private Limited has greatly benefited our clients
                                    in achieving their energy efficiency goals and ensuring reliable power backup
                                    solutions for various applications. The remarkable battery packs and power backup
                                    solutions we have sourced from EEE Energy Private Limited have not only demonstrated
                                    exceptional A performance but have also proven to be highly adaptable to the unique
                                    requirements of our clients.</p>
                                <img src="https://eeepvtltd.com/wp-content/uploads/2021/08/7.jpeg" alt=""
                                    class="company-logo">
                                <h6 class="company-name">RA Energy Tech</h6>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption">
                            <div class="content-box">
                                <svg fill="#00adef" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 98.829 98.829"
                                    xml:space="preserve">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <g>
                                            <g>
                                                <path
                                                    d="M96.76,41.603C91.511,22.831,78.562,9.204,65.975,9.204c-1.011,0-2.021,0.088-3.005,0.262 c-0.558,0.098-1.046,0.426-1.348,0.902c-0.301,0.479-0.386,1.061-0.233,1.605l2.591,9.268c0.25,0.895,1.113,1.5,2.01,1.459 l0.206-0.004c4.668,0,13.199,6.996,17.548,22.545c0.172,0.617,0.335,1.248,0.492,1.906c-4.882-2.416-10.706-2.975-15.98-1.506 C56.358,48.97,49.388,61.356,52.714,73.252c2.696,9.639,11.563,16.373,21.563,16.373c2.037,0,4.071-0.281,6.046-0.834 c7.846-2.193,13.745-8.707,16.611-18.338C99.521,61.764,99.456,51.249,96.76,41.603z">
                                                </path>
                                                <path
                                                    d="M14.088,9.206c-1.009,0-2.02,0.086-3.003,0.26c-0.557,0.096-1.046,0.426-1.347,0.902 c-0.301,0.479-0.386,1.061-0.234,1.605l2.592,9.268c0.25,0.895,1.097,1.5,2.01,1.459l0.204-0.004 c4.668,0,13.2,6.996,17.549,22.545c0.173,0.621,0.336,1.252,0.492,1.906c-4.884-2.416-10.706-2.975-15.98-1.506 C4.475,48.97-2.497,61.356,0.831,73.252c2.696,9.639,11.563,16.373,21.563,16.373c2.037,0,4.071-0.281,6.047-0.834 c7.845-2.193,13.744-8.707,16.611-18.338c2.586-8.689,2.522-19.205-0.175-28.852C39.625,22.831,26.678,9.206,14.088,9.206z">
                                                </path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                                <p>The Lithium-Ion and Lithium Ferro Phosphate battery packs they offer are at the
                                    forefront of cutting-edge energy solutions, providing our customers with reliable,
                                    high- performance options for their diverse applications.</p>
                                <img src="https://eeepvtltd.com/wp-content/uploads/2021/08/5.jpeg" alt=""
                                    class="company-logo">
                                <h6 class="company-name">Duro Power</h6>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption">
                            <div class="content-box">
                                <svg fill="#00adef" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 98.829 98.829"
                                    xml:space="preserve">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <g>
                                            <g>
                                                <path
                                                    d="M96.76,41.603C91.511,22.831,78.562,9.204,65.975,9.204c-1.011,0-2.021,0.088-3.005,0.262 c-0.558,0.098-1.046,0.426-1.348,0.902c-0.301,0.479-0.386,1.061-0.233,1.605l2.591,9.268c0.25,0.895,1.113,1.5,2.01,1.459 l0.206-0.004c4.668,0,13.199,6.996,17.548,22.545c0.172,0.617,0.335,1.248,0.492,1.906c-4.882-2.416-10.706-2.975-15.98-1.506 C56.358,48.97,49.388,61.356,52.714,73.252c2.696,9.639,11.563,16.373,21.563,16.373c2.037,0,4.071-0.281,6.046-0.834 c7.846-2.193,13.745-8.707,16.611-18.338C99.521,61.764,99.456,51.249,96.76,41.603z">
                                                </path>
                                                <path
                                                    d="M14.088,9.206c-1.009,0-2.02,0.086-3.003,0.26c-0.557,0.096-1.046,0.426-1.347,0.902 c-0.301,0.479-0.386,1.061-0.234,1.605l2.592,9.268c0.25,0.895,1.097,1.5,2.01,1.459l0.204-0.004 c4.668,0,13.2,6.996,17.549,22.545c0.173,0.621,0.336,1.252,0.492,1.906c-4.884-2.416-10.706-2.975-15.98-1.506 C4.475,48.97-2.497,61.356,0.831,73.252c2.696,9.639,11.563,16.373,21.563,16.373c2.037,0,4.071-0.281,6.047-0.834 c7.845-2.193,13.744-8.707,16.611-18.338c2.586-8.689,2.522-19.205-0.175-28.852C39.625,22.831,26.678,9.206,14.088,9.206z">
                                                </path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                                <p>The innovative battery packs and power backup solutions provided by EEE Energy
                                    Private Limited have significantly enhanced the quality and competitiveness of our
                                    electric vehicles.</p>
                                <img src="https://eeepvtltd.com/wp-content/uploads/2021/08/8.jpeg" alt=""
                                    class="company-logo">
                                <h6 class="company-name">Maruthisan</h6>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption">
                            <div class="content-box">
                                <svg fill="#00adef" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 98.829 98.829"
                                    xml:space="preserve">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <g>
                                            <g>
                                                <path
                                                    d="M96.76,41.603C91.511,22.831,78.562,9.204,65.975,9.204c-1.011,0-2.021,0.088-3.005,0.262 c-0.558,0.098-1.046,0.426-1.348,0.902c-0.301,0.479-0.386,1.061-0.233,1.605l2.591,9.268c0.25,0.895,1.113,1.5,2.01,1.459 l0.206-0.004c4.668,0,13.199,6.996,17.548,22.545c0.172,0.617,0.335,1.248,0.492,1.906c-4.882-2.416-10.706-2.975-15.98-1.506 C56.358,48.97,49.388,61.356,52.714,73.252c2.696,9.639,11.563,16.373,21.563,16.373c2.037,0,4.071-0.281,6.046-0.834 c7.846-2.193,13.745-8.707,16.611-18.338C99.521,61.764,99.456,51.249,96.76,41.603z">
                                                </path>
                                                <path
                                                    d="M14.088,9.206c-1.009,0-2.02,0.086-3.003,0.26c-0.557,0.096-1.046,0.426-1.347,0.902 c-0.301,0.479-0.386,1.061-0.234,1.605l2.592,9.268c0.25,0.895,1.097,1.5,2.01,1.459l0.204-0.004 c4.668,0,13.2,6.996,17.549,22.545c0.173,0.621,0.336,1.252,0.492,1.906c-4.884-2.416-10.706-2.975-15.98-1.506 C4.475,48.97-2.497,61.356,0.831,73.252c2.696,9.639,11.563,16.373,21.563,16.373c2.037,0,4.071-0.281,6.047-0.834 c7.845-2.193,13.744-8.707,16.611-18.338c2.586-8.689,2.522-19.205-0.175-28.852C39.625,22.831,26.678,9.206,14.088,9.206z">
                                                </path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                                <p>EEE Energy Private Limited's pioneering battery technology and unwavering commitment
                                    to innovation have played an instrumental role in our ability to provide Electric
                                    Vehicles that excel in performance, efficiency, and reliability. The Lithium-Ion and
                                    Lithium Ferro Phosphate battery packs they offer have consistently surpassed our
                                    expectations, enabling us to deliver state-of-the-art Electric Vehicles to our
                                    customers.</p>
                                <img src="https://eeepvtltd.com/wp-content/uploads/2021/08/eco-dynaamic.jpeg" alt=""
                                    class="company-logo">
                                <h6 class="company-name">Eco Dynaamic</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="banner-content-1">
        <div class="row">
            <div class="content col-md-6">
                <h4>Most trustworthy source of power to the world</h4>
                <p>We are the industry leader in manufacturing Li-ion and LiFePO4 custom batteries for: solar power and
                    renewable energy. Few of our batteries include UPS/Inverter battery, Energy Storage System
                    batteries, Electric Vehicle Battery and Automotive Battery.</p>
            </div>
            <div class="image col-md-6">
                <div class="image-container">
                    <img src="https://eeepvtltd.com/wp-content/uploads/2021/08/adirath_high_v2_09-06-2-pdf.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="specifications">
        <div class="row">
            <div class="section-title">
                <h6>Technical Specifications</h6>
            </div>
            <div class="section-content">
                <div class="table-responsive" style="overflow-x: auto;">
                    <table class="table table-bordered w-100">
                        <thead>
                            <tr>
                                <th>Product Series</th>
                                <th *ngFor="let series of batteryData">{{ series[0] }}</th>
                                <!-- Series titles (12V, 24V, etc.) -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let header of tableHeaders; let i = index">
                                <td class="row-header">{{ header }}</td>
                                <!-- Column headers (Battery Type, Nominal Voltage, etc.) -->
                                <td *ngFor="let series of batteryData">{{ series[i + 1] }}</td>
                                <!-- Data for each series -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <section class="product-images">
        <div class="row">
            <div class="section-title">
                <h6>Product Images</h6>
            </div>
            <div class="product-slider-container">
                <button class="prev" (click)="prevSlide()">&#10094;</button>

                <div class="product-images">
                    <div class="row m-0 d-flex">
                        <div class="col-md-4">
                            <div class="image-container">
                                <img *ngFor="let image of productImages; let i = index" [src]="image.src"
                                    [alt]="image.alt" [class.active]="i === currentSlideIndex" class="product-slide">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="image-container">
                                <img *ngFor="let image of productImages; let i = index" [src]="image.src"
                                    [alt]="image.alt" [class.active]="i === currentSlideIndex+1" class="product-slide">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="image-container">
                                <img *ngFor="let image of productImages; let i = index" [src]="image.src"
                                    [alt]="image.alt" [class.active]="i === currentSlideIndex+2" class="product-slide">
                            </div>
                        </div>
                    </div>
                    <div class="row d-none d-md-flex">
                        <div class="col-md-4">
                            <div class="image-container">
                                <img *ngFor="let image of productImages; let i = index" [src]="image.src"
                                    [alt]="image.alt" [class.active]="i === currentSlideIndex+3" class="product-slide">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="image-container">
                                <img *ngFor="let image of productImages; let i = index" [src]="image.src"
                                    [alt]="image.alt" [class.active]="i === currentSlideIndex+4" class="product-slide">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="image-container">
                                <img *ngFor="let image of productImages; let i = index" [src]="image.src"
                                    [alt]="image.alt" [class.active]="i === currentSlideIndex+5" class="product-slide">
                            </div>
                        </div>
                    </div>
                </div>
                <button class="next" (click)="nextSlide()">&#10095;</button>
            </div>
        </div>
    </section>
    <section class="application-areas">
        <div class="row">
            <div class="section-title">
                <h6>Application</h6>
            </div>
            <div class="section-content">
                <p>Battery energy storage systems have a varied range of applications. Commercial applications comprise
                    of peak shaving, load shifting, emergency backup, and various grid services. Residential
                    applications include self-consumption, off-grid homes, and crisis backup.</p>
                <p>Energy storage is being increasingly examined for its potential to provide significant benefits. The
                    ability to store energy provides a way to add flexibility to how power is produced and used, as well
                    as a way to manage peak loads on the system by storing renewable electricity during low-demand
                    periods. Energy storage technologies have the potential to provide ancillary services to the
                    electricity grid, such as ensuring the dependability and stability of the power system and better
                    matching generation to demand for electricity, in addition to supplying power on demand.</p>
                <div class="areas-container row">
                    <div class="area col-lg-3 col-md-4 col-sm-12"
                        *ngFor="let applicationArea of batteryApplicationAreas">
                        <div class="application-box">
                            <img [src]="'products/energy-storage-system/application/'+applicationArea.image" alt="">
                            <p class="application-name">{{applicationArea.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--<section class="faq-section">
        <div class="container row">
            <div class="section-title">
                <h6>FAQs</h6>
            </div>
            <div class="accordion accordion-flush" id="lithiumBatteryFaq">
                <div *ngFor="let faq of faqs; let i = index" class="accordion-item">
                    <h2 class="accordion-header" [id]="'faqHeading' + i">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            [attr.data-bs-target]="'#faqCollapse' + i" aria-expanded="true"
                            [attr.aria-controls]="'faqCollapse' + i">
                            {{ faq.question }}
                        </button>
                    </h2>
                    <div [id]="'faqCollapse' + i" class="accordion-collapse collapse"
                        [attr.aria-labelledby]="'faqHeading' + i" data-bs-parent="#lithiumBatteryFaq">
                        <div class="accordion-body">
                            {{ faq.answer }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
</div>