<div class="container-fluid banner p-0" style="margin-top: 75px;">
    <div class="row">
        <h2 class="banner-title">Privacy Policy</h2>
    </div>
</div>
<div class="container-fluid w-100 privacy-policy-content">
    <div class="content-section">
        <div class="row p-0 m-0 w-100">
            <div class="section">
                <p class="description"><span class="company-name">Reydon Resources Private Limited</span> is fully
                    committed to protecting your
                    rights and protecting your personal
                    data. Our Privacy Policies describe the collection, usage, storage, and sharing practices of
                    personal
                    data.
                </p>
            </div>
            <div class="section">
                <p class="title">Collection of personal information from visitors to the Site:</p>
                <p class="description">Generally, you are not required to provide personal information to use this Site.
                </p>
            </div>
            <div class="section">
                <p class="title">Prospective and actual customers and Other Business partners:</p>
                <p class="description">Should you subscribe to our newsletters, download our materials, register for an
                    event, or contact us as a prospective customer or other business partner, you will inevitably give
                    us
                    personal information, such as name, address, telephone number, and/or email. <br>If you are looking
                    for
                    career opportunities at Reydon Resources Private Limited, please go to Careers page. </p>
            </div>
            <div class="section">
                <p class="title">Cookies:</p>
                <p class="description">We use cookies on our Site. For further details, see our cookie policy.</p>
            </div>
            <div class="section">
                <p class="title">Contact information:</p>
                <p class="description">If you have any questions concerning our privacy policy, don't hesitate to get in
                    touch with us at: <br>
                </p>
                <p class=" description my-2">
                    <strong class="fw-medium">Address:</strong> Reydon Resources Private Limited, D.NO.28-East, L.S Nagar, Mathakottai
                    Road,
                    Serfoji College
                    Post, Thanjavur Dist-613005, Tamilnadu
                </p><br>
                <p class="description"><strong class=" fw-medium">Email:</strong> reydonrpl&#64;gmail.com</p>
            </div>
        </div>
    </div>
</div>