<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 content-container">
            <h6 class="">Reydon Resources</h6>
            <p class="first-heading mb-3">We work together with our clients to uncover the most effective and efficient
                way to achieve their needs.</p>
            <p class="content">Welcome to <span class="company-name">"Reydon Resources Private Limited"</span>, where
                your Real-estate dreams become
                reality. we are your
                trusted partner in real estate and allied trading & services. With years of experience and a deep
                understanding of the market, we are dedicated to helping you navigate the complexities of buying,
                selling, and managing properties.</p>
        </div>
        <div class="col-md-7 images-container">
            <img src="home-about/image-1.jpg" alt="" class="image one">
            <!-- <img src="home-about/image-2.jpg" alt="" class="image two">
            <img src="home-about/image-3.jpg" alt="" class="image three">
            <img src="home-about/image-4.jpg" alt="" class="image four">
            <img src="home-about/image-5.jpg" alt="" class="image five">-->
        </div>
    </div>
</div>