<section class="stats-section">
    <div class="stat-container">
        <div class="row">
            <div class="col-md-4">
                <div class="stat-box">
                    <p class="count">{{initialProjectCount}}+</p>
                    <p class="text">Projects Completed</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="stat-box">
                    <p class="count">{{initialCustomers}}+</p>
                    <p class="text">Happy Customers</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="stat-box">
                    <p class="count">{{initialLocations}}+</p>
                    <p class="text">Locations</p>
                </div>
            </div>
        </div>
    </div>
</section>