<div class="container-fluid">
    <div class="row container-box">
        <h2 class="section-headings">Client Testimonials</h2>
        <p class="section-description w-100">Hear from clients who found their perfect residential and commercial properties with us.</p>
        <div class="load-more-button w-100">
            <button (click)="toggleShowAll()"> {{ 'Show More' }}</button>
        </div>
        <div class="cards">
            <div class="card" *ngFor="let testimonial of visibleTestmonials">
                <div class="quote w-100">
                    <i class="fa fa-quote-left fa-2x" aria-hidden="true"></i>
                </div>
                <p class="message">{{testimonial.message}}</p>
                <div class="row p-0 m-0 w-100">
                    <div class="col-3 image-container">
                        <img [src]="testimonial.avatar" alt="">
                    </div>
                    <div class="col-9 p-0 m-0">
                        <p class="p-0 m-0"><span class="name">{{testimonial.name}}</span></p>
                        <p class="place p-0 m-0">{{testimonial.place}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>