<!--<swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" space-between="30"
loop="true">
    <swiper-slide>
        <img src="slide1.jpg" loading="lazy"  alt="">
    </swiper-slide>
    <swiper-slide>
        <img src="slide2.jpg" loading="lazy"  alt="">
    </swiper-slide>
    <swiper-slide>
        <img src="slide3.jpg" loading="lazy"  alt="">
    </swiper-slide>
</swiper-container>-->
<app-home-hero-section></app-home-hero-section>
<!--<app-home-about></app-home-about>
<app-our-values></app-our-values>
<app-what-we-do></app-what-we-do>-->
<app-client-testimonials></app-client-testimonials>
