
.content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 550px;
    background-color: var(--background-color);
    padding: 50px;
    opacity: 0.99;
    margin: 100px 0;
    margin-left: 150px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Initial shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.content h2{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 30px;
    text-align: center;
    color: var(--primary-color);
    line-height: 1;
}
.content p{
    font-size: 20px;
    font-weight: 400;
    text-align: start;
}

.fade-in {
    animation: fadeIn 2s forwards;
  }
  
  .fade-out {
    animation: fadeOut 2s forwards;
  }
  
  @keyframes fadeIn {
    from { opacity: 0.2; }
    to { opacity: 0.9; }
  }
  
  @keyframes fadeOut {
    from { opacity: 0.9; }
    to { opacity: 0.2; }
  }


/* Media query for medium screens (e.g., tablets) */
@media (max-width: 768px) {
    .content h2{
        font-size: 30px;
    font-weight: 400;
    }
    .content p{
        font-size: 18px;
        font-weight: 300;
        text-align: center;
    }
    .content-container{
        margin-left: 10px;
        margin: 40px;
        padding: 20px;
    }
}

/* Media query for small screens (e.g., mobile devices) */
@media (max-width: 480px) {
    .content-container{
        margin-left: 10px;
        margin: 40px;
        padding: 20px;
    }
    .content p{
        font-size: 18px;
        font-weight: 300;
        text-align: center;
    }
    .content-container{
        margin-left: 10px;
        margin: 120px 40px 40px 40px;
        padding: 20px;
    }
}